<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración de redes</title>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/d3.v4.min.js')}}"></script>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename = 'css/force.css')}}" />
    <script src="{{url_for('static',filename = 'js/tailwind.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
</head>

<body>
    <div class="bg-gray-300">
        <main class="container relative mx-auto my-5 h-5/6 p-4 rounded bg-slate-100 flex flex-col">
            <!-- Título -->
            <h1 class="text-red-500 font-bold text-center w-100 text-3xl"><a href="/">Administrador de redes</a></h1>

            <!-- Contenido variable -->
            <div class="content h-screen flex flex-col justify-between">
                <div class="h-5/6 flex flex-col justify-start overflow-y-auto">
                    <!-- Titulo -->
                    <h2 id="titulo-seccion" class="text-gray-700 font-bold text-center w-100 text-xl mb-2 block">
                        Topología</h2>

                    <!-- Topología -->
                    <svg width="960" height="600"></svg>
                    <script type="text/javascript" src="{{url_for('static',filename = 'js/force.js')}}"></script>
                </div>

                <!-- opciones de administración -->
                <div class="opciones flex flex-col items-center border-t-2 border-gray-300">
                    <h2 class="text-gray-700 font-bold text-center w-100 text-md mb-2 block">Opciones de administración
                    </h2>
                    <div class="flex flex-row justify-center">                        
                        <a id="" href="/router"
                            class="bg-sky-500 hover:bg-sky-800 text-slate-100 duration-200 font-bold px-2 py-1 rounded-md text-center text-sm mr-2">Gestionar
                            Routers</a>
                        <a id="" href ="/configurarSnmp"
                            class="bg-sky-500 hover:bg-sky-800 text-slate-100 duration-200 font-bold px-2 py-1 rounded-md text-center text-sm mr-2">Cambiar
                            conf. system de la MIB-II</a>
                        <a id="btn-monitorear" href="/monitorear"
                            class="bg-sky-500 hover:bg-sky-800 text-slate-100 duration-200 font-bold px-2 py-1 rounded-md text-center text-sm mr-2">Monitorear
                            interfaces</a>
                        <a id="btn-monitorear" href="/sshUsers"
                            class="bg-sky-500 hover:bg-sky-800 text-slate-100 duration-200 font-bold px-2 py-1 rounded-md text-center text-sm mr-2">Usuarios</a>
                    </div>
                </div>
        </main>
    </div>

</body>

</html>
