<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/style_generico.css">
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
    <title>Monitoreo</title>
  </head>
  <body>
    <div class="cont-monitorear-interfaz">
		<h2>Monitorear interfaz</h2>
		<div class="cont-monitorear-forms">
		<form method="post" action="/monitorear-form" class="forms">
				{{form.csrf_token}}
				{{form.router}}
				{{form.interfaz}}
				{{form.intervalo}}
				<input type ="Submit" class="btn">
		</form>
		</div>
	</div>
	<script>
		let router_select = document.getElementById('router');
		let interfaz_select = document.getElementById('interfaz');

		router_select.onchange=function(){
		router = router_select.value;
		fetch('/interfaz/'+router).then(function(response){
		response.json().then(function(data){
			let optionHTML='';
			for (let interfaz of data.Interfaces){
				optionHTML +='<option value="' + interfaz.id+'">'+interfaz.name+'<option>';
			}
				interfaz_select.innerHTML = optionHTML;
			});
		});
		}
	</script>
  </body>
</html>
