<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Router</title>
  </head>
  <body>
    <h2>Monitorear Interfaces</h2>
    <form method="post">
    	{{form.csrf_token}}
    	{{form.router}}
    	{{form.interfaz}}
    	{{form.intervalo}}
    	<input type ="Submit">

</form>
	<script>
		let router_select = document.getElementById('router');
		let interfaz_select = document.getElementById('interfaz');
		
		router_select.onchange=function(){
		router = router_select.value;
		fetch('/interfaz/'+router).then(function(response){
		response.json().then(function(data){
			let optionHTML='';
			for (let interfaz of data.Interfaces){
				optionHTML +='<option value="' + interfaz.id+'">'+interfaz.name+'<option>'; 
				}
				
				interfaz_select.innerHTML = optionHTML;
			});
		});
		}
	</script>
  </body>
</html>
