<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style_generico.css">
    <title>Monitoreo</title>
</head>
<body>

	 <script language="JavaScript">
            function refreshIt(element) {
                setTimeout(function() {
                    element.src = element.src.split('?')[0] + '?' + new Date().getTime();
                    refreshIt(element);
                }, 3000); // refresh every 50ms
            }
        </script>

 <center> <h1>Monitoreo</h1>
<img src="{{url_for('static',filename='grafica1.jpg')}}" onload="refreshIt(this)" alt="Gráfica de la interface f 0/0">
 <img src="{{url_for('static',filename='grafica2.jpg')}}" onload="refreshIt(this)" alt="Gráfica de la interface f 0/0"></center>
 <center> <img src="{{url_for('static',filename='grafica3.jpg')}}" onload="refreshIt(this)" alt="Gráfica de la interface f 0/0">
 <img src="{{url_for('static',filename='grafica4.jpg')}}" onload="refreshIt(this)" alt="Gráfica de la interface f 0/0"></center>


</body>
</html>
