<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MIB</title>
  </head>
  <body>
    
    <form method="post">
    <table>
        <th>
            <td>
                <h2>MostrarMib</h2>
            </td>
        </th>
        <tr>
            <td>Router</td>
            <td>{{form.router.data}}</td>
            
        </tr>
        <tr>
            <td>Nombre</td>
            <td>{{form.name.data}}
            </td>
          
        </tr>

        <tr>
            <td>Contacto</td>
            <td>{{form.cont.data}}</td>
    
        </tr>
        <tr>
            <td>Localizacion</td>
            <td>{{form.local.data}}</td>
         
        </tr>
        <tr>
            <td>Descripcion</td>
            <td>{{form.desc.data}}</td>
            
        </tr>

    </table>

    	

</form>

  </body>
</html>
