<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Usuarios SSH</title>
  </head>
  <body>
    <h2>Ver usuario SSH</h2>

    <form method="post">
        {%for r in form.keys()%}
        {{form[r].name}}  
        <table>
            <tr> 
              <th>Usuario</th>
              <th>Privilegios</th>
            </tr>
            {%for user in form[r].usuariosSsh%}
            <tr>
              <td>{{user['username']}}</td>
              <td>{{user['privilage']}}</td> 
            </tr>
            {%endfor%}
          </table>
        {%endfor%}
    </form>
  </body>
</html>
